* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image:url(./lion.jpg);
    /* background-size: 300%; */
    width:320px ;
    background-size: cover;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.clock-container {
	position: relative;
}

.clock-face {
	/* background-image: url('./sahal.mp4'); */
	background-size: contain;
	background-repeat: no-repeat;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.clock-digits {
	color: #fff;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.eid-mubarak {
	font-size: 40px;
	font-weight: bold;
	color: #dc3545;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.eid-mubarak:hover{
    scale: 1.1;
    color: darkred;
}